.buttonColor {
  display: block;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  line-height: 1;
  font-size: 20px;
  transition: transform 0.2s ease;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

.buttonColor:hover {
  transform: scale(1.08);
}

.buttonColor:nth-child(8n + 1) {
  border-color: red;
}
.buttonColor:nth-child(8n + 2) {
  border-color: orange;
}
.buttonColor:nth-child(8n + 3) {
  border-color: yellow;
}
.buttonColor:nth-child(8n + 4) {
  border-color: green;
}
.buttonColor:nth-child(8n + 5) {
  border-color: blue;
}
.buttonColor:nth-child(8n + 6) {
  border-color: navy;
}
.buttonColor:nth-child(8n + 7) {
  border-color: purple;
}
.buttonColor:nth-child(8n) {
  border-color: pink;
}
