.twoColumn {
  margin-top: 47px;
  padding: 40px 40px;
  display: flex;
  gap: 40px;
  min-height: calc(100vh - 91px);

  @media (width < 768px) {
    flex-direction: column-reverse;
    padding: 24px;
  }
}

.main {
  width: calc(100% - 264px - 40px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;

  @media (width < 768px) {
    width: 100%;
    gap: 24px;
  }
}
